<!DOCTYPE HTML>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Aditya Rana</title>
  
  <meta name="author" content="Aditya Rana">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/stylesheet.css">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/images/aditya_circle_small.png">
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          <tr style="padding:0px">
            <td style="padding:2.5%;width:63%;vertical-align:middle">
              <p style="text-align:center">
                <name>Aditya Rana</name>
              </p>
              <p>
                I am a Master's student in Computer Vision at Universitat Autònoma de Barcelona in a joint program with 3 more universities. 

                I recently graduated from BITS Pilani majoring in Electrical and Electronics Engineering, where I was also a Teaching Assistant for the course <a href="https://bitsnnfl.github.io/"> BITS-F312: Neural Networks and Fuzzy Logic </a>. 

                I was fortunate to get the opportunity to complete my bachelor's thesis at <a href="http://www.cvc.uab.es/">Computer Vision Center</a> under the supervision of <a href="http://www.cvc.uab.es/~antonio/">Dr. Antonio Lopez</a> and <a href="http://www.cvc.uab.es/people/joans/">Dr. Joan Serrat</a> to work on on Deep Image Compression models.
              </p>
              <p style="text-align:center">
                <a href="mailto:adityassrana2@gmail.com"> Mail </a> &nbsp;/&nbsp;
                <a href="https://github.com/adityassrana"> GitHub </a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/adityassrana"> LinkedIn </a> &nbsp;/&nbsp;
                <a href="https://twitter.com/adityassrana"> Twitter </a> &nbsp;/&nbsp;
                <a href="https://adityassrana.github.io/blog/"> Blog </a> 
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <a href="{{site.baseurl}}/images/aditya_circle.png"><img style="width:100%;max-width:100%" alt="profile photo" src="{{site.baseurl}}/images/aditya_circle.png" class="hoverZoomLink"></a>
            </td>
          </tr>
        </tbody></table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
            <td style="padding:20px;width:100%;vertical-align:middle">
              <heading>Research</heading>
              <p>
                 I'm interested in computer vision, graphics and unsupervised learning techniques. Much of my research has been
                 in the field of Image Compression.
              </p>
            </td>
          </tr>
        </tbody></table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tbody>

          <tr>
            <td style="padding:20px;width:25%;vertical-align:middle">
              <img src="{{site.baseurl}}/images/cwic_imp_map.png" alt="importance_map_png" height="100%" width="100%" style="border-style: none">
            </td>
            <td width="75%" valign="middle">
              <a href="https://drive.google.com/file/d/1JfsGNv9wAAwO5n032DdxnhI2JwVl6ahM/view?usp=sharing">
                <papertitle>Content Weighted Image Compression for Distributed Data Collection</papertitle>
              </a>
              <br>
              Aditya Rana, Dr. Joan Serrat and Dr. Antonio Lopez
              <br>
              <em>Bachelor's Thesis</em>, 2019
              <br>
              <a href="https://github.com/adityassrana/Content-Weighted-Image-Compression">code</a> / 
              <a href="{{site.baseurl}}/images/data/RanaThesis2019.bib">bibtex</a>
              <p>
                Investigate and improve on existing models on lossy image compression for creating a high-quality and geographically diverse dataset from on-road vehicles
              </p>
            </td>
          </tr>

          </tbody>
        </table>


      <!-- Footer -->
        <table width="100%" border="0" cellspacing="0" cellpadding="20">
          <tr>
            <td class="customfsize" align="right">
              Design courtesy of <a class="customfsize" href="https://jonbarron.info/">Jon Barron</a>
            </td>
          </tr>
        </table>


        </tbody></table>

</body>

</html>
